pipeline/Daily_Sales.json
{
	"name": "Daily_Sales",
	"properties": {
		"activities": [
			{
				"name": "Daily_Sales_Job",
				"type": "DatabricksJob",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureDatabricks_ls",
					"type": "LinkedServiceReference",
					"parameters": {
						"clusterVersion": {
							"value": "@pipeline().globalParameters.ClusterVersion",
							"type": "Expression"
						},
						"clusterNodeType": {
							"value": "@pipeline().globalParameters.ClusterNodeType",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Update_Inventory",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": []
			},
			{
				"name": "Update_Inventory",
				"type": "SqlServerStoredProcedure",
				"state": "Inactive",
				"onInactiveMarkAs": "Failed",
				"dependsOn": [
					{
						"activity": "Daily_Sales_Job",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[MergeInventory]",
					"storedProcedureParameters": {
						"ProcessType": {
							"value": "Daily Sales",
							"type": "String"
						}
					}
				}
			},
			{
				"name": "Web1_copy1",
				"type": "WebActivity",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Daily_Sales_Job",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": []
			},
			{
				"name": "Sales_File_Check",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Daily_Sales_Source",
						"type": "DatasetReference",
						"parameters": {
							"date_folder": {
								"value": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'GMT Standard Time'), 'yyyy-MM-dd')\n",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists",
						"childItems",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Sales_Validations",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Sales_File_Check",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(\n    activity('Sales_File_Check').output.exists,\n    greater(length(activity('Sales_File_Check').output.childItems), 0)\n)\n",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}