pipeline/Daily_Sales.json
{
	"name": "Daily_Sales",
	"properties": {
		"activities": [
			{
				"name": "Sales_File_Check",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Daily_Sales_Source_FolderPath",
						"type": "DatasetReference",
						"parameters": {
							"date_folder": {
								"value": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'GMT Standard Time'), 'yyyy-MM-dd')\n",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists",
						"childItems",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Sales_File_Check",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(length(activity('Sales_File_Check').output.childItems),0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "SetFilesNames",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "sales_file_list",
								"value": {
									"value": "@activity('Sales_File_Check').output.childItems\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "SetFilesNames",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Sales_File_Valdiation",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"sales_file_list": {
										"value": "@variables('sales_file_list')",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"sales_file_list": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}